@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



header{
    display: flex;
    z-index: 200;
    height: 65px;
    width: 100%;
    top: 0;}

   li{
   padding: 7px;
   display: inline-block;
   font-size: 20px;
   color:black;
   text-align-last: center; }


   .opt{
    padding-block: 25px;}
   .opt:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;}
    
:root{
    --color-white:#f3f3f3;
    --color-darkblue:#796ec8;
    --color-darkblue-alpha:rgba(13, 138, 187, 0.8);
    --color-green:#afc5b8;
}

body{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(215deg,rgba(75, 113, 179, 0.8),rgba(124, 192, 147, 0.8)),url(dn2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-weight: 400;
    line-height: 1.2;
}
p{
    font-size: 1.125rem;
}
h1,p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input,button,select,textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.container{
    width: 100%;
    margin: 3.125rem auto 0 auto;
    padding:1.8rem 1rem;
}

.header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    text-align: center;
}


form{
        background-color: rgb(190,350 240);
        border-radius: 25px;
        justify-content: center; }

@media (min-width: 480px){
    form{
        padding: 2.5rem;
    }
}
.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
.formControl{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #00060b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.formControl:focus{
    border-color:blue;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgba(0,123,255,0.25)
}
.inputRadio,
.checkbox
{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;

}
.textarea{
    width: 100%;
    padding: 0.75rem;
    font-size: 1.15rem;
    outline: none;
    border-color: rgb(1, 1, 10);
    border-radius: 5px;
}
.btn{
    display: block;
    width: 100%;
    padding:0.5rem 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgb(0, 153, 255);
    border: none;
}
