.container{

    width: 100%;
    height: 100vh;
    background-image: url(dn1.jpg);
    background-position: center;
    background-size: cover;
}
.content{
    height: 95%;
    
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    padding-top: 30px;
    text-align: center;  
}

h2{

    font-size: 100px;
    text-align: center;
    margin-left:500px;
    padding-bottom: 60px;
}

p{
    font-size: 30px;
    line-height: 30px;
    font-family:sans-serif;
    font-style:italic;
    text-align: center;
    margin-left: 30px;
}

.columan{

    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    float: right;
    padding-top: 50px;
    margin-right: 80px;
}

button{

    width: 165px;
    color: black;
    font-size: 20px;
    padding: 12px 0px;
    margin-top: 30px;
    border: 1px solid rgb(185, 15, 15);
    border-radius: 20px;
}

button:hover{

    background-color: rgba(101, 105, 101, 0.822);
    color: rgb(243, 240, 240);

}

.cars{

    width: 240px;
    height: 150px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;

}

.cars h1{

    background-size: rgba(233, 228, 218, 0.068);
}

.car1{

    background-image: url(rb1.jpg);
}
.car2{

    background-image: url(fb6.jpg);

}
.car3{

    background-image: url(t1.jpg);

}
.car4{

    background-image: url(ruger.jpg);

}

.cars:hover{

    transform: translateY(-12px);
    transition: 0.8s;

}